.transparent-card{
    border-radius: 16px;
    background:  conic-gradient(from 0deg at 0% 0%, rgba(35, 37, 41, 0.50) 57.62981414794922deg, rgba(46, 48, 52, 0.50) 81.64558947086334deg, rgba(150, 150, 150, 0.50) 304.23447132110596deg);
    box-shadow: 0px 0px 1.307px 0px rgba(255, 255, 255, 0.70) inset, 0.653px 0.653px 0.653px 0px rgba(255, 255, 255, 0.50) inset, 0px 0px 9.802px 0px rgba(255, 255, 255, 0.20) inset, 0px 9.802px 19.604px 0px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(9.801980018615723px);  
}

.cursor-pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

@keyframes horizontalSlide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(250px); /* 修改这个值来控制移动距离 */
    }
  }

  .energy-flow-animate-horizontal {
    animation: horizontalSlide 2s infinite ; /* 运行时间、重复模式等可自定义 */
  }

  @keyframes verticalSlide {
    from {
        transform: rotate(90deg) translateX(0);
    }
    to {
      transform: rotate(90deg) translateX(230px); /* 修改这个值来控制移动距离 */
    }
  }

  .energy-flow-animate-vertical {
    animation: verticalSlide 2s infinite ; /* 运行时间、重复模式等可自定义 */
  }

