

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bottom-centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}




